@use 'variable';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }

    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variable.$textColorSec;
            font-size: 20px;
            padding-bottom: 5px;
            border: none;
            background: none;
            margin: 0 1vw;
            text-transform: uppercase;

            &--is-active {
                border-bottom: 5px solid variable.$textColorSec;
            }
        }
    }

}